@font-face {
    font-family: MursGothicDark;
    src: url(../../Assets/Fonts/MursGothic-WideDark.woff);
}

/* Webfont: NeuePowerTrial-Ultra */
@font-face {
    font-family: 'NeuePowerTrialUltra';
    src: url('../../Assets/Fonts/NeuePowerTrial-Ultra.woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: NeuePowerTrial-MediumOblique */
@font-face {
    font-family: 'NeuePowerTrialMed';
    src: url('../../Assets/Fonts/NeuePowerTrial-Medium.woff');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

.pageContent {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

#contactPage {
    background-color: rgb(19, 19, 19);
}

#siteCredits {
    padding-left: 50px;
}

#creditsTitle {
    font-style: italic;
    font-size: 32px;
}

.creditsCategory {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mursGothic {
    font-family: MursGothicDark;
}

.NeuePower {
    font-family: NeuePowerTrialUltra;
}

#creditLink {
    color: whitesmoke;
    font-size: 28px;
    padding-left: 14px;
}

#contactMe {
    padding-left: 50px;
}