@font-face {
    font-family: MursGothicDark;
    src: url(../../Assets/Fonts/MursGothic-WideDark.woff);
}

/* Webfont: NeuePowerTrial-Ultra */
@font-face {
    font-family: 'NeuePowerTrialUltra';
    src: url('../../Assets/Fonts/NeuePowerTrial-Ultra.woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: NeuePowerTrial-MediumOblique */
@font-face {
    font-family: 'NeuePowerTrialMed';
    src: url('../../Assets/Fonts/NeuePowerTrial-Medium.woff');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

:root {
    --Semi-White: #f4f4f4;
    --Semi-Black: #080808;
    --Text-Light: rgb(58, 58, 60);
    --Text-Dark: rgb(209, 209, 218);
    --StandardBlur: 20px;
}

.light-mode {
    /* background-color: var(--Semi-White);
    color: var(--Text-Light); */
    /* transition-delay: 100ms;
    transition: 0.3s ease; */
}

.dark-mode {
    /* background-color: var(--Semi-Black);
    color: var(--Text-Dark); */
    /* transition-delay: 100ms;
    transition: 0.3s ease; */
}

.bufferSpace1 {
    display: flex;
    width: 15vw;
    outline: 1px solid rgb(39, 39, 39);
    align-items: end;
    padding: 10px;
    font-family: 'LiberationSansBold', sans-serif;
    z-index: 2;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.bufferSpace2 {
    display: flex;
    height: 35vh;
    outline: 1px solid rgb(39, 39, 39);
    outline-offset: -1px;
    z-index: 2;
    backdrop-filter: blur(var(--StandardBlur));
    /* box-shadow: rgba(0, 0, 0, -0.35) 0px 5px 15px; */
}

.bufferSpace3 {
    display: flex;
    flex-direction: column;
    width: 15vw;
    outline: 1px solid rgb(39, 39, 39);
    overflow-y: scroll;
    scrollbar-width: thin;
    z-index: 2;
    backdrop-filter: blur(var(--StandardBlur));
    border: 1px solid #ffffff25;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

#simpleBody {
    /* background-color: var(--Semi-White); */
    height: 100vh;
    width: 100vw;
    display: flex;
}

.sideBar {
    width: 15vw;
    height: 100vh;
    font-family: NeuePowerTrialUltra;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.sidebarHeader {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    backdrop-filter: blur(var(--StandardBlur));
    border: 1px solid #ffffff25;
}

.sidebarBody {
    border-radius: 10px;
    margin: 10px;
    backdrop-filter: blur(var(--StandardBlur));
    border: 1px solid #ffffff25;
}

#greeting {
    font-family: 'NeuePowerTrialMed', sans-serif;
}

#sidebarName {
    padding: 5px;
    font-size: 200%;
    font-family: MursGothicDark;
}

.sidebarDescription {
    font-size: 90%;
    padding: 10px;
    font-family: NeuePowerTrialMed;
    font-weight: light;
}

.sidebarLink {
    padding-left: 10px;
    text-decoration: none;
    color: grey;
    font-size: 200%;
}

.sidebarLink:hover {
    color: rgb(127, 229, 255);
}

.sidebarIcon {
    filter: invert(51%) sepia(0%) saturate(238%) hue-rotate(159deg) brightness(98%) contrast(82%);
}

.linkStack {
    display: flex;
    flex-direction: column;
}

.sidebarSection {
    font-size: 115%;
    font-family: MursGothicDark;
    padding-left: 10px;
}

.sidebarContent {
    font-size: 90%;
    font-weight: light;
    font-family: NeuePowerTrialMed;
}

.previewContainer {
    outline: 0.5px solid rgb(39, 39, 39);
}

.simplePreview {
    position: relative;
    justify-content: center;
    color: var(--Semi-White);
    display: flex;
    min-height: 280px;
    max-height: 280px;
    transition-delay: 100ms;
    transition: 0.3s ease;
    z-index: 2;
    overflow: hidden;
    border-radius: 10px;
    outline: 1px solid rgb(39, 39, 39);
    background: black;
    margin: 10px;
    cursor: pointer;
}

.simplePreview:hover {
    transform: perspective(500px) rotateX(5deg);
    filter: brightness(1.2);
}

.previewImage {
    height: inherit;
    width: auto;
    object-fit: contain;
}

.previewTitle {
    z-index: 3;
    position: absolute;
    font-family: MursGothicDark;
    font-size: 20px;
    text-shadow: 1px 0px 10px rgba(0, 0, 0, 0.8);
}

.cardStack {
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    overflow-y: scroll;
}

.simpleProject {
    color: var(--Semi-White);
    display: flex;
    /* transition-delay: 100ms;
    transition: 1s ease; */
    z-index: 2;
    overflow: hidden;
    border-radius: 10px;
    outline: 1px solid rgb(39, 39, 39);
    background: black;
    margin: 10px;
    height: 75vh;
}

.cardImage {
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    width: 75%;
    object-fit: cover;
}

.textSection {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4px;
    padding-right: 12px;
    padding-top: 14px;
    white-space: wrap;
}

.cardTitle {
    font-family: NeuePowerTrialUltra;
    font-size: max(36px, 200%);
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 10, 89, 1) 14%, rgb(214, 214, 214) 68%);
    height: 30%;
    text-align: left;
    padding: 4px;
    transition: 0.3s ease;
    color: var(--Semi-White);
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.377);
    word-break: break-word;
    white-space: break-spaces;
    text-decoration: none;
    text-overflow: "-";
}

.cardTitle:hover {
    text-shadow: 0px 20px rgba(0, 0, 0, 1);
    transition: 0.3s ease;
    transform: perspective(500px) rotateX(5deg);
    cursor: pointer;
}

.information {
    height: 70%;
}

.cardDesc {
    font-family: NeuePowerTrialMed;
}

.cardLang {
    font-family: NeuePowerTrialMed;
    font-style: italic;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.languageItem {
    display: flex;
    border-radius: 5px;
    background-color: ;
    width: fit-content;
    padding: 2px;
    padding-left: 4px;
    padding-right: 8px;
    margin: 2px;
    background-color: var(--Text-Light);
}

.cardLink {
    font-family: NeuePowerTrialMed;
    font-style: italic;
    white-space: wrap;
    overflow-wrap: break-word;
}

#nowPlaying {
    font-family: MursGothicDark;
    margin: 0px;
    margin-left: 10px;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

#coloredCube {}

#placeholderOuter {
    height: 75vh;
    display: flex;
    border-radius: 10px;
    outline: 1px solid rgb(39, 39, 39);
    margin: 10px;
    backdrop-filter: blur(var(--StandardBlur));
}

#placeholderPlatter {
    display: flex;
    height: 100%;
    width: 75%;
    border-radius: 10px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    outline: 1px solid rgb(39, 39, 39);
}

#placeholderDisk {
    display: flex;
    height: 90%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    justify-self: center;
    justify-content: center;
    align-items: center;
    outline: 1px solid rgb(39, 39, 39);
}

#placeholderCenter {
    display: flex;
    height: 15%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    justify-self: center;
    outline: 1px solid rgb(39, 39, 39);
    justify-content: center;
}

#diskLogo {
    justify-self: center;
    align-self: center;
    max-width: 80%;
    max-height: 80%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}

.light-Logo {
    filter: invert(1);
}

.dark-Logo {
    filter: invert(0);
}

.box {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    /* background: rgb(188, 202, 243); */
    z-index: 0;
    position: absolute;
    outline: 10px solid rgba(46, 189, 255, 0.9);
}

.knobContainer {
    z-index: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1280px) {
    .bufferSpace1 {
        display: none;
    }

    .bufferSpace3 {
        width: 23vw;
    }

    .simplePreview {
        min-height: 200px;
        max-height: 200px;
    }

    .simpleProject {
        width: 100vw;
        flex-direction: column;
        height: 75vh;

    }

    .sideBar {
        display: flex;
        flex-direction: column;
        width: 32vw;
    }

    .sidebarLink {
        font-size: 28px;
    }

    .cardStack {
        width: 45vw;
        padding-right: 18px;
    }

    .simpleProject {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .cardImage {
        height: 40%;
        width: 100%;
    }

    .cardTitle {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.589);
    }

    .textSection {
        width: 100%;
    }

    .information {
        text-align: center;
        margin-right: 8px;
        margin-left: 8px;
    }
}

@media screen and (max-width: 500px) {
    .bufferSpace1 {
        display: none;
    }

    .bufferSpace2 {
        display: none;
    }

    .bufferSpace3 {
        width: 23vw;
    }

    .simplePreview {
        min-height: 75px;
        max-height: 75px;
    }

    .previewTitle {
        display: none;
    }

    .simpleProject {
        width: 100vw;
        flex-direction: column;
        height: 95vh;

    }

    .sideBar {
        position: fixed;
        margin-left: 23vw;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        width: 70vw;
        z-index: 1;
    }

    .sidebarHeader {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
    }

    .sidebarBody {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
    }

    .sidebarLink {
        font-size: 28px;
    }

    .cardStack {
        width: 80vw;
        padding-right: 18px;
    }

    .simpleProject {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    .cardImage {
        height: 40%;
        width: 100%;
    }

    .cardTitle {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.589);
    }

    .textSection {
        width: 100%;
    }

    .information {
        text-align: center;
        margin-right: 8px;
        margin-left: 8px;
    }

    #nowPlaying {
        display: none;
    }
}

@media screen and (max-height: 700px) and (max-width: 500px) {
    .sideBar {
        margin-top: 0vh;
    }

    #sidebarName {
        font-size: 25px;
    }

    .sidebarLink {
        font-size: 20px;
    }

    .sidebarSection {
        font-size: 16px;
    }

    .cardTitle {
        font-size: 30px;
    }
}