@font-face {
    font-family: MursGothicDark;
    src: url(../../Assets/Fonts/MursGothic-WideDark.woff);
}


.bufferSpace1 {
    display: flex;
    width: 15vw;
    outline: 1px solid rgb(39, 39, 39);
    align-items: end;
    padding: 10px;
    font-family: 'LiberationSansBold', sans-serif;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.bufferSpace2 {
    display: flex;
    height: 35vh;
    outline: 1px solid rgb(39, 39, 39);
    outline-offset: -1px;
    /* box-shadow: rgba(0, 0, 0, -0.35) 0px 5px 15px; */
}

.bufferSpace3 {
    display: flex;
    flex-direction: column;
    width: 15vw;
    outline: 1px solid rgb(39, 39, 39);
    overflow-y: scroll;
    scrollbar-width: thin;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

#simpleBody {
    background-color: #f4f4f4;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.sideBar {
    width: 15vw;
    height: 100vh;
    color: rgb(58, 58, 60);
    font-family: 'LiberationSansBold', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.sidebarHeader {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30%;
    background-color: #f4f4f4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px
}

.sidebarBody {
    background-color: #f4f4f4;
    border-radius: 10px;
    margin: 10px;
}

#greeting {
    font-family: 'LiberationSansBold', sans-serif;
}

#sidebarName {
    padding: 10px;
    font-size: 35px;
    font-family: MursGothicDark;
}

.sidebarDescription {
    padding: 10px;
    font-weight: lighter;
}

.sidebarLink {
    padding-left: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.sidebarLink:hover {
    color: rgb(127, 229, 255);
}

.linkStack {
    display: flex;
    flex-direction: column;
}

.sidebarSection {
    font-size: 20px;
    font-family: MursGothicDark;
    padding-left: 10px;
}

.previewContainer {
    outline: 0.5px solid rgb(39, 39, 39);
}

.simplePreview {
    position: relative;
    justify-content: center;
    color: #f4f4f4;
    display: flex;
    min-height: 280px;
    max-height: 280px;
    transition-delay: 100ms;
    transition: 0.3s ease;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    outline: 1px solid rgb(39, 39, 39);
    background: rgb(58, 58, 60);
    margin: 10px;
    cursor: pointer;
}

.simplePreview:hover {
    transform: perspective(500px) rotateX(5deg);
    filter: brightness(1.2);
}

.previewImage {
    height: inherit;
    width: auto;
    object-fit: contain;
}

.previewTitle {
    z-index: 3;
    position: absolute;
    font-family: MursGothicDark;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.192);
}

.cardStack {
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    overflow-y: scroll;
}

.simpleProject {
    color: #f4f4f4;
    display: flex;
    transition-delay: 100ms;
    transition: 1s ease;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    outline: 1px solid rgb(39, 39, 39);
    background: black;
    margin: 10px;
    height: 75vh;
}

.cardImage {
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    width: 75%;
    object-fit: cover;
}

.textSection {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4px;
    padding-right: 12px;
    white-space: wrap;
}

.cardTitle {
    font-family: MursGothicDark;
    font-size: max(40px, 200%);
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 10, 89, 1) 14%, rgba(255, 255, 255, 1) 68%);
    height: 30%;
    text-align: left;
    padding: 4px;
    transition: 0.3s ease;
    color: #f4f4f4;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.377);
    white-space: wrap;
}

.cardTitle:hover {
    text-shadow: 0px 20px rgba(0, 0, 0, 1);
    transition: 0.3s ease;
    transform: perspective(500px) rotateX(5deg);
    cursor: pointer;
}

.information {
    height: 70%;
}

.cardDesc {
    font-family: 'LiberationSans', sans-serif;
}

.cardLang {
    font-family: 'LiberationSansBold', sans-serif;
    font-style: italic;
}

.cardLink {
    font-family: 'LiberationSans', sans-serif;
    font-style: italic;
    white-space: wrap;
    overflow-wrap: break-word;
}

#nowPlaying {
    font-family: MursGothicDark;
    color: rgb(58, 58, 60);
    margin: 0px;
    margin-left: 10px;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#coloredCube {
    color: black;
}

#placeholderOuter {
    height: 75vh;
    display: flex;
    border-radius: 10px;
    outline: 1px solid rgb(39, 39, 39);
    margin: 10px;
}

#placeholderPlatter {
    display: flex;
    height: 100%;
    width: 75%;
    border-radius: 10px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    outline: 1px solid rgb(39, 39, 39);
}

#placeholderDisk {
    display: flex;
    height: 90%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    justify-self: center;
    justify-content: center;
    align-items: center;
    outline: 1px solid rgb(39, 39, 39);
}

#placeholderCenter {
    display: flex;
    height: 15%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    justify-self: center;
    outline: 1px solid rgb(39, 39, 39);
}

@media screen and (max-width: 1280px) {
    .bufferSpace1 {
        display: none;
    }

    .bufferSpace3 {
        width: 23vw;
    }

    .simplePreview {
        min-height: 200px;
        max-height: 200px;
    }

    .simpleProject {
        width: 100vw;
        flex-direction: column;
        height: 75vh;

    }

    .sideBar {
        display: flex;
        flex-direction: column;
        width: 32vw;
    }

    .sidebarLink {
        font-size: 28px;
    }

    .cardStack {
        width: 45vw;
        padding-right: 18px;
    }

    .simpleProject {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .cardImage {
        height: 40%;
        width: 100%;
    }

    .cardTitle {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.589);
    }

    .textSection {
        width: 100%;
    }

    .information {
        text-align: center;
        margin-right: 8px;
        margin-left: 8px;
    }
}

@media screen and (max-width: 500px) {
    .bufferSpace1 {
        display: none;
    }

    .bufferSpace2 {
        display: none;
    }

    .bufferSpace3 {
        width: 23vw;
    }

    .simplePreview {
        min-height: 75px;
        max-height: 75px;
    }

    .previewTitle {
        display: none;
    }

    .simpleProject {
        width: 100vw;
        flex-direction: column;
        height: 95vh;

    }

    .sideBar {
        position: fixed;
        margin-left: 23vw;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        width: 70vw;
        z-index: 1;
    }

    .sidebarHeader {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
    }

    .sidebarBody {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
    }

    .sidebarLink {
        font-size: 28px;
    }

    .cardStack {
        width: 80vw;
        padding-right: 18px;
    }

    .simpleProject {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    .cardImage {
        height: 40%;
        width: 100%;
    }

    .cardTitle {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.589);
    }

    .textSection {
        width: 100%;
    }

    .information {
        text-align: center;
        margin-right: 8px;
        margin-left: 8px;
    }

    #nowPlaying {
        display: none;
    }
}

@media screen and (max-height: 700px) and (max-width: 500px) {
    .sideBar {
        margin-top: 0vh;
    }

    #sidebarName {
        font-size: 25px;
    }

    .sidebarLink {
        font-size: 20px;
    }

    .sidebarSection {
        font-size: 16px;
    }

    .cardTitle {
        font-size: 30px;
    }
}