@font-face {
    font-family: MursGothicDark;
    src: url(../../Assets/Fonts/MursGothic-WideDark.woff);
}

@font-face {
    font-family: LiberationSansBold;
    src: url(../../Assets/Fonts/LiberationSans-Bold.ttf);
}


.container {
    height: 100vh;
    width: 100vw;
}

.textContainer {
    position: absolute;
    width: fit-content;
    display: flex;
    z-index: 5;
    color: white;
    padding: 20px;
    top: 50%;
}

.leftHalf {
    display: flex;
    flex-direction: column;
}

.rightHalf {
    display: flex;
}

.backgroundSplash {
    height: 95vh;
    z-index: 0;
}

#backsplash2 {
    display: none;
}

.splashBodyText {
    color: whitesmoke;
    width: fit-content;
}

.splashBodyGrabber {
    color: whitesmoke;
    width: 100%;
    font-size: min(200px, 20vw);
    text-align: end;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-stretch: condensed;
}

#designOption {
    font-size: min(30px, 3vw);
    text-align: right;
    padding-left: 20%;
    ;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-stretch: condensed;
    white-space: nowrap;
}

#designOption:hover {
    color: rgb(73, 140, 202);
    cursor: pointer;
}

#codeOption {
    font-size: min(50px, 5vw);
    margin-top: min(500px, 20.5%);
    margin-left: 5%;
    white-space: nowrap;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-stretch: condensed;
}

#codeOption:hover {
    color: rgb(73, 140, 202);
    cursor: pointer;
}

#splashFooterText {
    color: whitesmoke;
    width: fit-content;
    font-family: 'LiberationSansBold', sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 1280px) {
    #codeOption {
        font-size: min(40px, 4vw);
        white-space: wrap;
    }

    .textContainer {
        right: 20vw;
    }
}